# Android Studio / IntelliJ files
.idea/
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/vcs.xml

# Build files (Important!)
build/
app/build/
/captures
.externalNativeBuild
.cxx

# Logs and OS files
build_log.txt
build_log2.txt
.DS_Store

# Local properties
local.properties